<template name="issue">
  <div class="page issue container">

  <form class="issue-form {{editing}}">

  {{currentBid}}
  {{currentETC}}
  {{currentNetBid}}

  <header class="clearfix">
    <h1>{{lang "title" "issue.actions.new"}}</h1>
    {{#if isAdmin}}
    <ul class="list-inline">
      <li>
        <button type="button" class="btn btn-default js-edit-issue {{editingActive}}{{#unless _id}} disabled{{/unless}}">
          <span class="glyphicon glyphicon-edit"></span>
          {{__ "common.actions.edit" }}
        </button>
      </li>
      <li class="show-on-edit">
        <button type="submit" class="js-save-issue btn btn-primary" data-template="bidsModal" data-data="{{data}}">{{__ "common.actions.save" }}</button>
      </li>
      <li class="show-on-edit">
        <button type="button" class="js-reset btn btn-default" data-template="bidsModal" data-data="{{data}}">{{__ "common.actions.reset" }}</button>
      </li>
    </ul>
    {{/if}}
  </header>

  <ul class="nav nav-pills">
    <li class="{{isActive "general"}}" role="presentation">
      <a href="#" data-target="general">
        {{__ "common.nouns.general" }}
      </a>
    </li>
    <li class="{{isActive "portfolios"}}" role="presentation">
      <a href="#" data-target="portfolios">
        {{! glyphicon-pie-chart }}
        <span class="glyphicon glyphicon-briefcase"></span>
        {{__ "issue.nouns.portfolio" }}
      </a>
    </li>
    <li class="{{isActive "bids"}}" role="presentation">
      <a href="#" data-target="bids">
        <span class="glyphicon glyphicon-stats"></span>
        {{__ "issue.nouns.bids" }}
      </a>
    </li>
    <li class="{{isActive "documents"}}" role="presentation">
      <a href="#" data-target="documents">
        <span class="glyphicon glyphicon-file"></span>
        {{__ "common.nouns.documents" }}
      </a>
    </li>
    <li class="{{isActive "etc"}}" role="presentation">
      <a href="#" data-target="etc">
        <span class="glyphicon glyphicon-minus"></span>
        {{__ "issue.nouns.etcSchedule" }}
      </a>
    </li>
    {{#if hasDistributions}}
    <li class="{{isActive "distributions"}}" role="presentation">
      <a href="#" data-target="distributions">
        <span class="glyphicon glyphicon-list-alt"></span>
        {{__ "issue.nouns.distributions" }}
      </a>
    </li>
    {{/if}}
    {{#if hasCalls}}
    <li class="{{isActive "calls"}}" role="presentation">
      <a href="#" data-target="calls">
        <span class="glyphicon glyphicon-calendar"></span>
        {{__ "issue.nouns.callSchedule" }}
      </a>
    </li>
    {{/if}}
    {{#if hasFixings}}
    <li class="{{isActive "fixings"}}" role="presentation">
      <a href="#" data-target="fixings">
        <span class="glyphicon glyphicon-calendar"></span>
        {{__ "issue.nouns.fixings" }}
      </a>
    </li>
    {{/if}}
  </ul>

  <div class="tab-content">
    <div class="tab-pane form-horizontal {{isActive "general"}}">

      {{#if isAdmin}}
      <div class="form-group">
        <label for="issue[titleEN]" class="control-label col-sm-2">{{__ "common.fields.title" }} {{__ "common.langs.EN" }}</label>
        <div class="col-sm-10">
          <p class="show-on-view form-control-static">{{titleEN}}</p>
          <span class="show-on-edit">
            <input type="text" class="form-control" name="issue[titleEN]" value="{{titleEN}}" required="required" />
          </span>
        </div>
      </div>

      <div class="form-group">
        <label for="issue[titleFR]" class="control-label col-sm-2">{{__ "common.fields.title" }} {{__ "common.langs.FR" }}</label>
        <div class="col-sm-10">
          <p class="show-on-view form-control-static">{{titleFR}}</p>
          <span class="show-on-edit">
            <input type="text" class="form-control" name="issue[titleFR]" value="{{titleFR}}" required="required" />
          </span>
        </div>
      </div>
      {{/if}}


      <div class="form-group">
        <label for="issue[issuanceDate]" class="control-label col-sm-2">{{__ "issue.fields.issuanceDate" }}</label>
        <div class="col-sm-10">
          <p class="show-on-view form-control-static">{{issuanceDate}}</p>
          <span class="show-on-edit">
            <input type="date" class="form-control datepicker" name="issue[issuanceDate]" maxlength="10" value="{{issuanceDateInput}}" data-date-format="{{__ "common.dates.formats.input" }}"  />
          </span>
        </div>
      </div>

      <div class="form-group">
        <label for="issue[term]" class="control-label col-sm-2">{{__ "issue.fields.term" }}</label>
        <div class="col-sm-10">
          <p class="show-on-view form-control-static">{{term}}</p>
          <span class="show-on-edit">
            <input type="number" class="form-control" name="issue[term]" min="0" max="100" value="{{term}}" />
          </span>
        </div>
      </div>

      <div class="form-group">
        <label for="issue[maturityDate]" class="control-label col-sm-2">{{__ "issue.fields.maturityDate" }}</label>
        <div class="col-sm-10">
          <p class="show-on-view form-control-static">{{maturityDate}}</p>
          <span class="show-on-edit">
            <input type="date" class="form-control datepicker maturity-date" name="issue[maturityDate]" maxlength="10" value="{{maturityDateInput}}" data-date-format="{{__ "common.dates.formats.input" }}"  />
            <span class="help-block">
              <button type="button" class=" btn btn-default js-update-mat-from-term">{{__ "issue.actions.updateMatFromTerm"}}</button>
            </span>
          </span>
        </div>
      </div>

      <div class="form-group">
        <label for="issue[valuationDate]" class="control-label col-sm-2">{{__ "issue.fields.valuationDate" }}</label>
        <div class="col-sm-10">
          <p class="show-on-view form-control-static">{{valuationDate}}</p>
          <span class="show-on-edit">
            <input type="date" class="form-control datepicker valuation-date" name="issue[valuationDate]" maxlength="10" value="{{valuationDateInput}}" data-date-format="{{__ "common.dates.formats.input" }}"  />
            <span class="help-block">
              <button type="button" class=" btn btn-default js-update-val-from-mat">{{__ "issue.actions.updateValFromMat"}}</button>
            </span>
          </span>
        </div>
      </div>
    </div>{{! /tab-pane }}

    <div class="tab-pane portfolios-form {{isActive "portfolios"}}{{#unless _id}} disabled{{/unless}}">
      {{> portfoliosPane isAdmin=isAdmin portfolios=portfolios}}
    </div>
    <div class="tab-pane bids-form {{isActive "bids"}}{{#unless _id}} disabled{{/unless}}">
      <div id="chart"></div>
      {{> bidsPane isAdmin=isAdmin bids=bids}}
    </div>
    <div class="tab-pane documents-form {{isActive "documents"}}{{#unless _id}} disabled{{/unless}}">
      {{> documentsPane isAdmin=isAdmin privateFiles=privateFiles publicFiles=publicFiles}}
    </div>

    <div class="tab-pane etc-form {{isActive "etc"}}{{#unless _id}} disabled{{/unless}}">
      {{> etcPane isAdmin=isAdmin ETCs=ETCs}}
    </div>

    {{#if hasDistributions}}
    <div class="tab-pane distr-form {{isActive "distributions"}}{{#unless _id}} disabled{{/unless}}">
      {{> distributionsPane isAdmin=isAdmin distributions=distributions}}
    </div>
    {{/if}}

    {{#if hasCalls}}
    <div class="tab-pane calls-form {{isActive "calls"}}{{#unless _id}} disabled{{/unless}}">
      {{> callsPane isAdmin=isAdmin calls=calls}}
    </div>
    {{/if}}

    {{#if hasFixings}}
    <div class="tab-pane fixings-form {{isActive "fixings"}}{{#unless _id}} disabled{{/unless}}">
      {{> fixingsPane isAdmin=isAdmin fixings=fixings}}
    </div>
    {{/if}}

  </div>{{! /tab-content }}

  <div class="show-on-edit {{existed}}">
    <button type="button" class="js-delete-issue btn btn-xs btn-danger">{{__ "common.actions.delete" }}</button>
  </div>
  </form>

  </div>
</template>
