<template name="portfolio">
  <div class="portfolio">
  {{#if isAdmin}}
    <div class="well show-on-edit">
      <div class="row">
        <div class="col-sm-8">
          <div class="checkbox">
            <label>
              <input type="checkbox" class="js-session" name="issue[portfolios][{{index}}][settings][showTickerWeight]" checked="{{showTickerWeight}}"> {{__ "issue.properties.showTickerWeight"}}
            </label>
            <p class="help-block">{{__ "issue.help.equalWeightsUsedInstead"}}</p>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" class="js-session" name="issue[portfolios][{{index}}][settings][showTickerRanking]" checked="{{showTickerRanking}}"> {{__ "issue.properties.showTickerRanking"}}
            </label>
          </div>
          <div class="form-inline">
            <div class="form-group">
              <label>{{__ "issue.properties.togglePortfolioReturn"}}</label>
              <button type="button" class="btn btn-default js-toggle-portfolio-return-setting">{{displayPortfolioReturnSetting}}</button>
              <input type="hidden" class="portfolio-return-setting" name="issue[portfolios][{{index}}][settings][portfolioReturn]" value="{{settings.portfolioReturn}}" />
            </div>
          </div>
          <div class="form-inline">
            <div class="form-group">
              <label>{{__ "issue.properties.toggleModifiedPortfolioReturn"}}</label>
              <button type="button" class="btn btn-default js-toggle-modified-portfolio-return-setting">{{displayModifiedPortfolioReturnSetting}}</button>
              <input type="hidden" class="modified-portfolio-return-setting" name="issue[portfolios][{{index}}][settings][modifiedPortfolioReturn]" value="{{settings.modifiedPortfolioReturn}}" />
            </div>
          </div>
          <div class="form-inline">
            <div class="form-group">
              <label>{{__ "issue.properties.toggleTickerAllFX"}}</label>
              <button type="button" class="btn btn-default js-toggle-FX">{{displayTickerFXSetting}}</button>
              <input type="hidden" class="ticker-fx-setting" name="issue[portfolios][{{index}}][settings][tickerFX]" value="{{settings.tickerFX}}" />
            </div>
          </div>
          <div class="form-inline">
            <div class="form-group">
              <label>{{__ "issue.fields.maximum"}}</label>
              <input type="number" class="form-control js-session return-modifier maximum" name="issue[portfolios][{{index}}][maximum]" value="{{maximum}}" step="0.01" />
            </div>
          </div>
          <div class="form-inline">
            <div class="form-group">
              <label>{{__ "issue.fields.minimum"}}</label>
              <input type="number" class="form-control js-session return-modifier minimum" name="issue[portfolios][{{index}}][minimum]" value="{{minimum}}" step="0.01" />
            </div>
          </div>
          <div class="form-inline">
            <div class="form-group">
              <label>{{__ "issue.fields.participationFactor"}}</label>
              <input type="number" class="form-control js-session return-modifier" name="issue[portfolios][{{index}}][participationFactor]" value="{{participationFactor}}" step="0.01" />
            </div>
          </div>
          <div class="form-inline">
            <div class="form-group">
              <label>{{__ "issue.fields.participationThreshold"}}</label>
              <button type="button" class="btn btn-default js-toggle-participation-threshold">{{displayParticipationThreshold}}</button>
              <input type="hidden" class="participation-threshold" name="issue[portfolios][{{index}}][settings][participationThreshold]" value="{{settings.participationThreshold}}" />
            </div>
          </div>
          <div class="form-inline">
            <div class="form-group">
              <label>{{__ "issue.fields.bonusReturn"}}</label>
              <input type="number" class="form-control js-session" name="issue[portfolios][{{index}}][bonusReturn]" value="{{bonusReturn}}" step="0.01" />
            </div>
          </div>
          <div class="form-inline">
            <div class="form-group">
              <label>{{__ "issue.fields.barrierAmount"}}</label>
              <input type="number" class="form-control js-session" name="issue[portfolios][{{index}}][barrierAmount]" value="{{barrierAmount}}" step="0.01" />
            </div>
          </div>
          <div class="form-inline">
            <div class="form-group">
              <label>{{__ "issue.fields.barrierType"}}</label>
              <button type="button" class="btn btn-default js-toggle-barrier-type">{{displayBarrierType}}</button>
              <input type="hidden" class="barrier-type" name="issue[portfolios][{{index}}][settings][barrierType]" value="{{settings.barrierType}}" />
            </div>
          </div>
          <div class="form-inline">
            <div class="form-group">
              <label>{{__ "issue.fields.localMin"}}</label>
              <input type="number" class="form-control js-session return-modifier local-return-modifier local-min" name="issue[portfolios][{{index}}][localMin]" value="{{localMin}}" step="0.01" />
            </div>
          </div>
          <div class="form-inline">
            <div class="form-group">
              <label>{{__ "issue.fields.localMax"}}</label>
              <input type="number" class="form-control js-session return-modifier local-return-modifier local-max" name="issue[portfolios][{{index}}][localMax]" value="{{localMax}}" step="0.01" />
            </div>
          </div>
          <div class="form-inline">
            <div class="form-group">
              <label>{{__ "issue.fields.assigned"}}</label>
              <input type="number" class="form-control js-session return-modifier local-return-modifier assigned" name="issue[portfolios][{{index}}][assigned]" value="{{assigned}}" step="0.01" />
            </div>
          </div>
        </div>
        <hr class="visible-xs" />
        <div class="col-sm-4">
          <p>{{__ "issue.help.portfolioControls"}}</p>
          <button type="button" class="btn btn-xs btn-success js-add-portfolio">
            <span class="glyphicon glyphicon-plus" title="{{__ "common.actions.add" }}"></span>
          </button>
          <button type="button" class="btn btn-xs btn-danger js-remove-portfolio">
            <span class="glyphicon glyphicon-minus" title="{{__ "common.actions.remove" }}"></span>
          </button>
        </div>
      </div>
    </div>
  {{/if}}

  <div class="table-responsive">
    <table class="table table-condensed form-inline">
      <thead>
        <tr>
          <th>{{__ "issue.nouns.ticker"}}</th>
          {{#if showTickerWeight}}
            <th>{{__ "common.nouns.weight"}}</th>
          {{/if}}
          <th>{{__ "issue.nouns.initialPrice"}}</th>
          {{#if hasFXExposure}}
            <th>{{__ "issue.nouns.initialFX"}}</th>
          {{/if}}
          <th>{{__ "issue.nouns.currentPrice"}}</th>
          {{#if hasFXExposure}}
            <th>{{__ "issue.nouns.currentFX"}}</th>
          {{/if}}
          <th>{{__ "issue.nouns.return"}}</th>
          {{#if hasLocalReturnModifier}}
            <th>{{__ "issue.nouns.cappedReturn"}}</th>
          {{/if}}
          {{#if showTickerRanking}}
            <th>{{__ "common.nouns.ranking"}}</th>
          {{/if}}
          {{#if isAdmin}}
          <th class="show-on-edit">{{__ "issue.properties.hasFXExposure" }}</th>
          <th class="show-on-edit">{{! operations }}</th>
          {{/if}}
        </tr>
      </thead>
      <tbody>
        {{#each withIndex tickers}}
          {{> ticker}}
        {{else}}
          <tr>
            <td colspan="100%">
              {{__ "issue.empty.tickers"}}
              {{#if isAdmin}}
                <button type="button" class="btn btn-xs btn-success show-on-edit js-add-ticker">
                  <span class="glyphicon glyphicon-plus" title="{{__ "common.actions.add" }}"></span>
                </button>
              {{/if}}
            </td>
          </tr>
        {{/each}}
      </tbody>
      {{#if hasFooter}}
        <tfoot>
          <tr>
            <td colspan={{Col1}}><p class="form-control-static">{{__ "issue.nouns.return"}}</p></td>
            <td colspan={{Col2a}}><p class="form-control-static">{{displayPortfolioReturn}}</p></td>
            {{#if hasLocalReturnModifier}}<td colspan={{Col2b}}><p class="form-control-static">{{displayModifiedPortfolioReturn}}</p></td>{{/if}}
            {{#if isAdmin}}<td class="show-on-edit" colspan="2"></td>{{/if}}
          </tr>
    
          {{#if hasParticipationFactor}}
            <tr>
              <td colspan="{{Col1}}">{{__ "issue.nouns.multipliedReturn"}}</td>
              <td colspan="{{Col2}}">{{displayMultipliedReturn}}</td>
              {{#if isAdmin}}<td class="show-on-edit" colspan="2"></td>{{/if}}
            </tr>
          {{/if}}
          {{#if hasMaximum}}
            <tr>
              <td colspan="{{Col1}}">{{__ "issue.nouns.maximum"}}</td>
              <td colspan="{{Col2}}">{{displayMaximum}}</td>
              {{#if isAdmin}}<td class="show-on-edit" colspan="2"></td>{{/if}}
            </tr>
          {{/if}}

          {{#if hasBarrier}}
            <tr>
              <td colspan="{{Col1}}">{{__ "issue.nouns.barrier"}}</td>
              <td colspan="{{Col2}}">{{displayBarrierAmount}}</td>
              {{#if isAdmin}}<td class="show-on-edit" colspan="2"></td>{{/if}}
            </tr>
          {{/if}}
        </tfoot>
      {{/if}}
    </table>
    

    

    
  </div>
  </div>
</template>