<template name="fixingsPane">
  {{#if isAdmin}}
  <div class="well show-on-edit">
    <div class="checkbox">
      <label>
        <input type="checkbox" class="js-autosave" name="issue[hasFixingTicker]" checked="{{hasFixingTicker}}"> {{__ "issue.properties.hasFixingTicker"}}
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" class="js-autosave" name="issue[hasFixingAmount]" checked="{{hasFixingAmount}}"> {{__ "issue.properties.hasFixingAmount"}}
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" class="js-autosave" name="issue[hasFixingAdjustedAmount]" checked="{{hasFixingAdjustedAmount}}"> {{__ "issue.properties.hasFixingAdjustedAmount"}}
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" class="js-autosave" name="issue[hasFixingsInPercent]" checked="{{hasFixingsInPercent}}"> {{__ "issue.properties.hasFixingsInPercent"}}
      </label>
    </div>
  </div>
  {{/if}}
  <div class="table-responsive">
  <table class="table fixings form-inline">
    <thead>
      <tr>
        <th>{{__ "common.nouns.date"}}</th>
        {{#if hasFixingTicker}}
          <th>{{__ "issue.nouns.ticker"}}</th>
        {{/if}}
        {{#if hasFixingAmount}}
          <th>{{__ "common.nouns.amount"}}</th>
        {{/if}}
        {{#if hasFixingAdjustedAmount}}
          <th>{{__ "issue.nouns.adjustedAmount"}}</th>
        {{/if}}
        <th>{{! operations }}</th>
      </tr>
    </thead>
    <tbody>
      {{#each fixings}}
        {{> fixing}}
      {{else}}
        <tr>
          <td colspan="100%">
            {{__ "issue.empty.fixings"}}
            {{#if isAdmin}}
              <button type="button" class="btn btn-mini btn-success show-on-edit js-add-fixing">
                <span class="glyphicon glyphicon-plus" title="{{__ "common.actions.add" }}"></span>
              </button>
            {{/if}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  </div>
  <!--
  <form class="modal-form fixing-form {{editing}}">
    <div class="modal-dialog {{editingModal}}">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="{{__ "common.actions.close"}}"><span aria-hidden="true">&times;</span></button>
          <h3 id="fixing-label" class="modal-title">{{__ "issue.nouns.fixings" }}
          {{#if isAdmin}}
          <button type="button" class="btn btn-default js-edit-issue {{editingActive}}{{#unless _id}} disabled{{/unless}}">
            <span class="glyphicon glyphicon-edit"></span>
            {{__ "common.actions.edit" }}
          </button>
          {{/if}}
          </h3>

        </div>
        <div class="modal-body">

        </div>
        <div class="modal-footer show-on-edit">
          <button type="submit" class="js-save-issue btn btn-primary">{{__ "common.actions.save" }}</button>
        </div>
      </div>
    </div>
  </form>
  -->
</template>
