<template name="portfoliosPane">
  {{#each withIndex portfolios}}
    {{> portfolio}}
  {{else}}
    <p class="portfolio">
      {{__ "issue.empty.portfolios"}}
      {{#if isAdmin}}
        <button type="button" class="btn btn-mini btn-success show-on-edit js-add-portfolio">
          <span class="glyphicon glyphicon-plus" title="{{__ "common.actions.add" }}"></span>
        </button>
      {{/if}}
    </p>
  {{/each}}
  <!--
  <form class="modal-form portfolios-form {{editing}}">
    <div class="modal-dialog {{editingModal}}">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="{{__ "common.actions.close"}}"><span aria-hidden="true">&times;</span></button>
          <h3 id="portfolios-label" class="modal-title">{{__ "issue.nouns.portfolio" }}
          {{#if isAdmin}}
          <button type="button" class="btn btn-default js-edit-issue {{editingActive}}{{#unless _id}} disabled{{/unless}}">
            <span class="glyphicon glyphicon-edit"></span>
            {{__ "common.actions.edit" }}
          </button>
          {{/if}}
          </h3>

        </div>
        <div class="modal-body">

        </div>
        <div class="modal-footer show-on-edit">
          <button type="submit" class="js-save-issue btn btn-primary">{{__ "common.actions.save" }}</button>
        </div>
      </div>
    </div>
  </form>
  -->
</template>
